<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inponow Web Message</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
    <!-- we can import the library with link on yout custom -->
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <style media="screen">
      .container_custom{
        margin:auto;
        width:60%
      }
    </style>
  </head>
  <body>
    <div class="container_custom">
      <br>
      <div class="row">
        <div class="col-md-8">
          <h3>Inponow Web Message</h3>
        </div>
        <div class="col-md-4">
          <center><button type="submit" name="button" class="btn btn-danger float-right">Log Out</button></center>
        </div>
        <div class="col-md-12">
          <div class="card" id="chat" check="1">
          </div>
          <br>
          <form id="messageForm">
            <div class="form-group">
              <label>Enter Message</label>
              <textarea class="form-control" id="message"></textarea>
              <br>
              <button type="submit" name="button" class="btn btn-success">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function(){
        let socket = io.connect()
        let chat = $('#chat')
        let messageForm = $('#messageForm')
        let message = $('#message')

        messageForm.submit(function(e) {
          e.preventDefault()
          socket.emit('send message', message.val())
          message.val('')
        })

        socket.on('new message', function(data) {
          // if (chat.attr('check') == 1) {
            // chat.append('<div class="list-group-item bg-gray">'+data.msg+'<div>')
          // }else {
            chat.append('<div class="list-group-item">'+data.msg+'<div>')
          // }
          console.log(data);
        })
      })
    </script>
  </body>
</html>
